@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5eded;
  margin-bottom: 100px;
  color: white;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

nav {
  background-color: #395b64;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  position: relative;
  border: 1px solid #a5c9ca;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
form input[type="text"] {
  background: none;
  border: 0;
  padding: 0 8px;
  width: 100%;
  color: #1b2430;
  display: block;
  font-size: 16px;
  outline: none;
  font-weight: 400;
  text-transform: capitalize;
}

form button {
  background-color: #a5c9ca;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #2c3333;
}
div.task {
 
  padding: 5px 9px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: opacity 0.3s linear;
  justify-content: space-between;
}
.remove-task {
  display: flex;
  gap: 4px;
}
.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.done {
  opacity: 0.4;
  text-decoration: line-through;
}
.svg-button {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}


button.hide {
  visibility: hidden;
}

