@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2c3333;
  margin-bottom: 100px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}
main {
  background-color: #395b64;
  box-shadow: 0 5px 20px rgba(37, 37, 37, 0.95);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}
h1,
h2 {
  color: #2c3333;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  border: 2.5px solid #a5c9ca;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
form input[type='text'] {
  background: none;
  border: 0;
  padding: 0 8px;
  width: 100%;
  color: #1b2430;
  display: block;
  font-size: 18px;
  outline: none;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

form button {
  background-color: #a5c9ca;
  border: 0;
  padding: 2px 6px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #2c3333;
}
div.task {
  background-color: #a5c9ca;

  border-radius: 10px;
  padding: 5px 9px;
  font-size: 18px;
  display: flex;
  gap: 1rem;
  transition: opacity 0.3s linear;
  justify-content: space-between;
}
.remove-task {
  display: flex;
  gap: 4px;
}
.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
div.task svg {
  height: 25px;
  margin-right: 6px;
  fill: #39839c;
  background: none;
}

.done {
  opacity: 0.4;
  text-decoration: line-through;
}
.svg-button {
  background: none;
  border: none;
}
.clear-all svg {
  height: 20px;
  fill: #39839c;
}
.clear-all {
  background: #343434;
  border: 4px solid #555555;
  padding: 5px 0px;
  border-radius: 10px;
}
button.hide {
  visibility: hidden;
}
.task-name {
  text-transform: capitalize;
}
